.app-wrapper {
  background-color: #F9F9FA;
  min-height: 50vh;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  font-size: calc(10px + 2vmin);
  color: rgb(96, 102, 109);
  width: 100%;
}
